/*title: form.html Stylesby: Joshua HeadTerm 1211MIU 1211*/




body {	background-color: sky-blue;
   
   
       
}.show1{
	color: blue;	text-align: center;
}label.error {
	display: block;	margin: 2px 0;	color: red;
}
#wrapper {
    background-attachment: scroll;
    //background-image: -moz-linear-gradient(-90deg, green 0%, #FFFFFF 100%);    //background-image: -webkit-linear-gradient(90deg, black 0%, white 100%);
   	//border: black;
    //padding-top: 10px;        width: 100%;
}
#content {
    
}
header {
      text-align: center;
}
h1 {
    color: white;
    margin: 0 auto;
    padding: 12px;    text-align: center;    
}
li, h1 {
    display: table;
    font-size: 100%;
    padding: 8px 0 0;
    text-decoration: none;    
}h2{
	text-align: center;	color: red;    margin: 0 auto;    font-size: 100%;    font-weight: bold;

}
input {
    font-size: 100%;
    height: inherit;
    width: auto;   
}
legend {
    color: white;
}
#buttons a {
    color: blue;
    text-decoration: none;
}
fieldset {
    background: none repeat scroll 0 0 sky-blue;
    font-size: 100%;    margin: 0 auto;    border-radius: 8px 8px 8px 8px;   
}
#buttons {
    border: 2px none;
    text-align: center;
}

textarea {
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    font-size:100%;
    height: 150px;
    resize: inherit;
    width: 100%;
}
#head1 {
    background-image: url("../images/header.png");
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
}#feature {
    background-attachment: scroll;
    //background-clip: border-box;
    background-color: white;
    background-image: url(../images/CTA-Dial4dough_01.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 0 auto;
    width: 100%;    border-style: dashed;    border-color: red;    border-width: 2px;    //padding-right:25px ;
}.link{
	color: black;	font-size: 36px;
}.link a {
    color: black;
    float: right;
    font-size: 36px;
    margin: 190px 97px 3px 0;
    text-decoration: none;
    text-transform: capitalize;
}ul.cat1 li  {	background-origin: border-box;	-webkit-appearance: button;	//background-size: contain;	//-moz-appearance: button;	width:70%;	font-size: 100%;	//text-align: center;	text-decoration: none;	margin: 0 auto;   
}.cat2{	background-origin: border-box;	width:100%;	color: white;	font-size: 100%;	margin: 0 autio;	text-decoration: none;
	
}.ct-list {
    color: green;
    text-decoration: none;}#categories ul{
	text-align: center;	text-indent: inherit;	
}select {
    font-size: 80%;
    text-align: center;
}.ui-content{color: blue;background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #dbf043 51%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#dbf043)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#dbf043 51%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#dbf043 51%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#dbf043 51%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#dbf043 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */
		
}